:root {
  /*Colors*/
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --PurpleBlue: hsl(245, 71%, 67%);

  --VeryPaleBlue: hsl(225, 100%, 98%);
  --planColor: hsl(228, 100%, 96%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
  --LightGray: hsl(0, 0%, 91%);

  /*Typography weight*/
  --mediumFont: 500;
  --boldFont: 700;
  --extraBold: 900;
}
